@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
//布局页使用
//Layout = "~/Views/Shared/_Layout.cshtml";

//如果不想使用统一的布局页，则设置为null。
// Layout = null;

}
<h1>hello ,asp.net core mvc</h1>
